@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<WebClothing.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

    List<WebClothing.Models.Category> categories = ViewBag.ListCategory as List<WebClothing.Models.Category>;
    List<WebClothing.Models.Product> products = ViewBag.ListProduct as List<WebClothing.Models.Product>;
}

    <div class="row">
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="product">
                        <figure class="product-media">
                            @*<span class="product-label label-new">New</span>*@
                            <a href="/Product/Details/@item.ID">
                                <img src="~/Content/images/@item.Image1" alt="Product image" class="product-image">
                            </a>
                            <div class="product-action action-icon-top">
                                <a href="#" class="btn-product btn-cart item_add" data-id="@item.ID"><span>Thêm Vào Giỏ Hàng</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->
                        <div class="product-body">
                            <h3 class="product-title"><a href="/Product/Details/@item.ID">@item.Name (Kho: @item.Quantity)</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                @item.Price.Value.ToString("#,##") ₫
                            </div><!-- End .product-price -->

                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
            }
        }
        else
        {
            <div class="alert alert-light border-dark w-50">
                <h4 class="alert-heading">Rất tiếc, không tìm thấy sản phẩm nào </h4>
            </div>
        }
    </div><!-- End .row -->





<!-- ================ đây là layout của em ================= -->

    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="blog">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Product</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->
    <!-- ================ category section start ================= -->
    <section class="section-margin--small mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="sidebar-categories">
                        <div class="head">Browse Categories</div>
                        <ul class="main-categories">
                            <li class="common-filter">
                                <form action="#">
                                    <ul>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="men" name="brand"><label for="men">Men<span> (3600)</span></label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="women" name="brand"><label for="women">Women<span> (3600)</span></label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="accessories" name="brand"><label for="accessories">Accessories<span> (3600)</span></label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="footwear" name="brand"><label for="footwear">Footwear<span> (3600)</span></label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="bayItem" name="brand"><label for="bayItem">Bay item<span> (3600)</span></label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="electronics" name="brand"><label for="electronics">Electronics<span> (3600)</span></label></li>
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="food" name="brand"><label for="food">Food<span> (3600)</span></label></li>
                                    </ul>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <!-- Start Best Seller -->
                    <section class="lattest-product-area pb-40 category-list">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        <img class="card-img" src="~/Content/Home/img/product/product1.png" alt="">
                                        <ul class="card-product__imgOverlay">
                                            <li><button><i class="ti-shopping-cart"></i></button></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <p>Accessories</p>
                                        <h4 class="card-product__title"><a href="#">Quartz Belt Watch</a></h4>
                                        <p class="card-product__price">$150.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        <img class="card-img" src="~/Content/Home/img/product/product2.png" alt="">
                                        <ul class="card-product__imgOverlay">
                                            <li><button><i class="ti-shopping-cart"></i></button></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <p>Beauty</p>
                                        <h4 class="card-product__title"><a href="#">Women Freshwash</a></h4>
                                        <p class="card-product__price">$150.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        <img class="card-img" src="~/Content/Home/img/product/product3.png" alt="">
                                        <ul class="card-product__imgOverlay">
                                            <li><button><i class="ti-shopping-cart"></i></button></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <p>Decor</p>
                                        <h4 class="card-product__title"><a href="#">Room Flash Light</a></h4>
                                        <p class="card-product__price">$150.00</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <!-- End Best Seller -->
                </div>
            </div>
        </div>
    </section>
    <!-- ================ category section end ================= -->
